<!DOCTYPE html>
<html lang="en">
<%- include('../template/head')-%>

    <body>
        <%- include('../template/header')-%>
            <main>
                <h2>Books shelf have
                    <%=booksCount%> books</h2>
                <ul>
                    <%books.forEach((book) => {%>
                        <li><img src=<%=book.image_url%> alt="image">
                            <h3>
                                <%=book.title%>
                            </h3>
                            <h4>
                                <%=book.author%>
                            </h4>
                            <form action="/books/<%=book.id%>" method="GET">
                                <input type="submit" value="View Details">
                            </form>
                        </li>
                        <%});%>
                </ul>
            </main>

            <%- include('../template/footer')-%>

    </body>

</html>