<!DOCTYPE html>
<html lang="en">
<%- include('../template/head')-%>

    <body>
        <%- include('../template/header')-%>
            <main>
                <h2>Search results</h2>
                <ul>
                    <%books.forEach((book) => {%>
                        <li><img src=<%=book.image_url%> alt="image">
                            <h3>
                                <%=book.title%>
                            </h3>
                            <h4>
                                <%=book.author%>
                            </h4>
                            <p>
                                <%=book.description%>
                            </p>
                            <form action="/books" method="POST">
                                <input type="hidden" name="image_url" value="<%= book.image_url %>">
                                <input type="hidden" name="title" value="<%= book.title %>">
                                <input type="hidden" name="author" value="<%= book.author %>">
                                <input type="hidden" name="isbn" value="<%= book.isbn %>">
                                <input type="hidden" name="description" value="<%= book.description %>">
                                <label for='bookshelf'>add to a bookshelf</label>
                                <input id="bookshelf" type="text" name="bookshelf" placeholder="insert here a bookshelf">
                                <input type="submit" value="Select this book">
                            </form>
                        </li>
                        <%});%>
                </ul>
            </main>
            <%- include('../template/footer')-%>
    </body>

</html>